.header .logo-icon-text {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.hero-carousel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hero-carousel .carousel-inner {
    height: 100%;
}

.hero-carousel .carousel-item {
    background-color: #141c25;
    width: 100%;
    height: 100%;
}

.schedule-badge {
    background-position: top;
    background-repeat: no-repeat;
    width: 100px;
    height: 75px;
}
.snowex {
    background-image: url("../images/snowex.png");
}

.icesat-2 {
    background-image: url("../images/icesat2.png");
}

.geosmart {
    background-image: url("../images/geosmart.png");
}
